<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DMN rc-data</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1>DMN rc-data</h1>
            <hr></hr>
            <div class="col-sm-8">
                <h4>Context</h4>
                <textarea type="text" class="form-control" id="context" readonly></textarea>
            </div>
            <div class="col-sm-4">
                <h4>Question</h4>
                <textarea type="text" class="form-control" id="question" readonly></textarea>
                <h4>Correct Answer</h4>
                <textarea type="text" class="form-control answer" id="correct" readonly></textarea>
                <h4>Predicted Answer</h4>
                <textarea type="text" class="form-control answer" id="prediction" readonly></textarea>
                <h4>Current Accuracy</h4>
                <textarea type="text" class="form-control answer" id="accuracy" readonly></textarea>
                <br><button class="btn btn-info" id="randValidation" type="submit">Random Validation</button>
                <button class="btn btn-success" id="randTest" type="submit">Random Test</button>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/js/script.js"></script>
    </body>
</html>

