<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DMN rc-data</title>
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/styles.css" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1>DMN rc-data</h1>
            <hr></hr>
            <div class="col-sm-8">
                <h4>Input Text</h4>
                <textarea type="text" class="form-control" id="input" readonly></textarea>
            </div>
            <div class="col-sm-4">
                <h4>Actual Answer</h4>
                <textarea type="text" class="form-control output" readonly></textarea>
                <h4>Predicted Answer</h4>
                <textarea type="text" class="form-control output" readonly></textarea>
                <br><button class="btn btn-primary" type="submit">Random Example</button>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="static/js/bootstrap.min.js"></script>
    </body>
</html>

